/* base styles */

input {
    font-size: 2em;
    text-align: right;
    border-radius: 5px;
    width: 242px;
    height: 28px;
    margin-bottom: 10px;
    padding: 1%;
}

button {
    font-size: 1em;
    border-radius: 3px;
    width: 53px;
    height: 40px;
    cursor: pointer;
}

.container {
   width: 300px;
   margin: auto;
}

/* flex styles */

.button-container {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    width: 256px;
}

.button-item {
    text-align: center;
    margin: 2px 3px;
}

.button-item--highlighted {
    background: whitesmoke;
}
.button-item--highlighted__submit {
    width: 115px;
}


