<div class="container">
    <div>
        <input name="number" class="number" type="text" [(ngModel)]="display" disabled>
    </div>
    <div class="button-container">
        <button class="button-item button-item--highlighted" (click)="clear()"> AC </button>
        <button class="button-item button-item--highlighted"  disabled> ( </button>
        <button class="button-item button-item--highlighted"  disabled> ) </button>
        <button class="button-item button-item--highlighted" (click)="operator()" > / </button>
        <button class="button-item" (click)="number('7')"> 7 </button>
        <button class="button-item" (click)="number('8')"> 8 </button>
        <button class="button-item" (click)="number('9')"> 9 </button>
        <button class="button-item button-item--highlighted" (click)="operator('x')"> x </button>
        <button class="button-item" (click)="number('4')"> 4 </button>
        <button class="button-item" (click)="number('5')"> 5 </button>
        <button class="button-item" (click)="number('6')"> 6 </button>
        <button class="button-item button-item--highlighted" (click)="operator('-')" > - </button>
        <button class="button-item" (click)="number('1')" > 1 </button>
        <button class="button-item" (click)="number('2')" > 2 </button>
        <button class="button-item" (click)="number('3')" > 3 </button>
        <button class="button-item button-item--highlighted" (click)="operator('+')"> + </button>
        <button class="button-item " (click)="number('0')"> 0 </button>
        <button class="button-item " (click)="number('.')"> . </button>
        <button class="button-item button-item--highlighted button-item--highlighted__submit" (click)="calculate()"> = </button>
    </div>
</div>